* {
  font-family: monospace;
}

.text-align-center {
  text-align: center;
}

.dimensions {
  width: 500px;
  height: 200px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.border-black {
  border: black 1px solid;
  border-radius: 15px;
}

.container {
  width: 1000px;
  height: 100vh;
  display: table;
  margin:auto;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.button-container > button {
  margin: 10px;
}

.typespace-padding {
  padding: 20px;
}

.timer {
  margin-bottom: 20px;
}

.current {
  border-bottom: solid 2px black;
}

.correctly-typed {
  color: green;
}

.incorrectly-typed {
  color: red;
}

.play-button-color {
  background-color: rgb(171, 230, 171);
}

.pause-button-color {
  background-color:rgb(218, 218, 218)
}

.hidden {
  display:none;
}

.margin-top-10px {
  margin-top: 10px;
}
