* {
  font-family: monospace;
}

.text-align-center {
  text-align: center;
}

.dimensions {
  width: 750px;
  height: 500px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.border-black {
  border: black 1px solid;
  border-radius: 15px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.button-container > button {
  margin: 10px;
}

.typespace-padding {
  padding: 20px;
}

.timer {
  margin-bottom: 20px;
}

.current {
  border-bottom: solid 1px black;
}